.table-header {
  background-color: #101414;
  color: #fff;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.table-header h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

