.login-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #3498db, #8e44ad);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: 600;
  color: #b5dafe; /* Primary blue color */
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.title span {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.6s ease forwards;
}

.title span:nth-child(1) {
  animation-delay: 0s;
}

.title span:nth-child(2) {
  animation-delay: 0.1s;
}

.title span:nth-child(3) {
  animation-delay: 0.2s;
}

.title span:nth-child(4) {
  animation-delay: 0.3s;
}

.title span:nth-child(5) {
  animation-delay: 0.4s;
}

/* Animation for each letter */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.footer {
  text-align: center;
  margin-top: 20px;
}

.footer a {
  text-decoration: none;
  color: #1976d2;
}

.footer a:hover {
  text-decoration: underline;
}
