<h2 mat-dialog-title class="dialog-title">📚 Edit Book</h2>
<mat-divider></mat-divider>

<mat-dialog-content class="dialog-content">
  <div class="form-grid">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="book.title" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Author</mat-label>
      <input matInput [(ngModel)]="book.author" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Category</mat-label>
      <input matInput [(ngModel)]="book.category" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Price</mat-label>
      <input matInput [(ngModel)]="book.price" type="number" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field full-width">
      <mat-label>Description</mat-label>
      <textarea matInput rows="3" [(ngModel)]="book.description"></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end" class="dialog-actions">
  <button mat-stroked-button color="warn" (click)="onClose()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSave()">Save</button>
</mat-dialog-actions>
