.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader {
  width: 30px;
  aspect-ratio: 1;
  background: #554236;
  display: grid;
  transform-origin: top right;
  animation: l5-0 4s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  background: #f77825;
  transform-origin: inherit;
  animation: inherit;
  animation-name: l5-1;
  animation-duration: 1s;
}

.loader::after {
  background: #60B99A;
  --s: 60deg;
}

@keyframes l5-0 {
  0%, 5%   { transform: rotate(0); }
  25%, 30% { transform: rotate(90deg); }
  50%, 55% { transform: rotate(180deg); }
  75%, 80% { transform: rotate(270deg); }
  100%     { transform: rotate(360deg); }
}

@keyframes l5-1 {
  50% { transform: rotate(var(--s, 30deg)); }
  100% { transform: rotate(0); }
}
