* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #3498db, #8e44ad);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

// .snack-bar-error {
// //   background-color: #f44336;
//   color: white;
//   border-radius: 4px;
//   padding: 10px;
//   font-size: 14px;
// }