<div class="book-list">
  <div class="header-container">
    <app-header style="flex-grow: 1" [title]="'Books List'"></app-header>
    <button
      mat-icon-button
      color="warn"
      (click)="logout()"
      matTooltip="Logout"
      style="position: absolute; right: 1rem"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </div>
  <div class="action-buttons">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Search books</mat-label>
      <input
        #searchInput
        matInput
        [formControl]="searchControl"
        placeholder="Search by title..."
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="sort-field">
      <mat-label>Sort by price</mat-label>
      <mat-select [(value)]="priceSortOrder" (selectionChange)="sortBooks()">
        <mat-option value="">None</mat-option>
        <mat-option value="asc">Price: Low to High</mat-option>
        <mat-option value="desc">Price: High to Low</mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      style="background-color: #909090 !important; color: #ffb4ab"
      (click)="openCreateDialog()"
    >
      <mat-icon>add</mat-icon> Create
    </button>
  </div>

  <ng-container *ngIf="loading; else bookCards">
    <div class="skeleton-table">
      <div class="skeleton-row" *ngFor="let _ of skeletonRows">
        <div class="skeleton-cell"></div>
        <div class="skeleton-cell"></div>
        <div class="skeleton-cell"></div>
        <div class="skeleton-cell"></div>
        <div class="skeleton-cell"></div>
      </div>
    </div>
  </ng-container>

  <ng-template #bookCards>
    <ng-container *ngIf="books.length > 0; else noBooks">
      <div class="card-container">
        <div class="book-card" *ngFor="let book of books">
          <div class="card-header">
            <h3>{{ book.title }}</h3>
            <span class="price">{{ book.price | currency }}</span>
          </div>
          <div class="card-content">
            <p><strong>Author:</strong> {{ book.author }}</p>
            <p><strong>Category:</strong> {{ book.category }}</p>
            <p><strong>Description:</strong> {{ book.description }}</p>
          </div>
          <div class="card-actions">
            <button
              mat-icon-button
              color="primary"
              (click)="openEditDialog(book)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="openDeleteDialog(book)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #noBooks>
      <app-not-found message="No books found."></app-not-found>
    </ng-template>
  </ng-template>
</div>
