<div class="book-list">
  <!-- Skeleton Loading -->
  <div *ngIf="loading" class="skeleton-table">
    <div class="skeleton-row" *ngFor="let _ of skeletonRows">
      <div class="skeleton-cell"></div>
      <div class="skeleton-cell"></div>
      <div class="skeleton-cell"></div>
      <div class="skeleton-cell"></div>
      <div class="skeleton-cell"></div>
    </div>
  </div>

  <!-- Book Cards -->
  <div *ngIf="!loading">
    <div class="action-buttons">
      <app-header style="flex-grow: 0.5" [title]="'Books List'"></app-header>
      <button mat-raised-button color="primary" (click)="openCreateDialog()">
        <mat-icon>add</mat-icon> Create
      </button>
    </div>

    <div class="card-container">
      <div class="book-card" *ngFor="let book of books">
        <div class="card-header">
          <h3>{{ book.title }}</h3>
          <span class="price">{{ book.price | currency }}</span>
        </div>
        <div class="card-content">
          <p><strong>Author:</strong> {{ book.author }}</p>
          <p><strong>Category:</strong> {{ book.category }}</p>
          <p><strong>Description:</strong> {{ book.description }}</p>
        </div>
        <div class="card-actions">
          <button
            mat-icon-button
            color="primary"
            (click)="openEditDialog(book)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="openDeleteDialog(book)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
